<a href="https://colab.research.google.com/github/WaleedBahtti/Assignments/blob/main/ASSIGNMENT_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Task 1:
###Create a dictionary of city and their respective zip codes. Then ask zip code from user and provide the name of city. (Hint: use input)

In [ ]:
a = {}
n = int(input("Total number of City: "))

for i in range(n):
  Z=input("Enter the ZipCode : ")
  C=input("Enter the City name: ")
 
  a.update({Z:C})

x = input("Enter Zip code: ")
print(a)
print(a[x])

Total number of City: 5
Enter the ZipCode : 68100
Enter the City name: SANGHAR
Enter the ZipCode : 68330
Enter the City name: KHIPRO
Enter the ZipCode : 66020
Enter the City name: KHAIR PUR
Enter the ZipCode : 68030
Enter the City name: SHAHDADPUR
Enter the ZipCode : 70010
Enter the City name: TANDO ALLAHYAR
Enter Zip code: 68330
{'68100': 'SANGHAR', '68330': 'KHIPRO\t', '66020': 'KHAIR PUR\t', '68030': 'SHAHDADPUR', '70010': 'TANDO ALLAHYAR\t'}
KHIPRO

###Task 2: (Dictionary): Create a marksheet of your class, having five studentâ€™s name and their marks, and apply following series of action: 
###A. Ask five names and their respective marks in first year 
###B. Calculate and print total marks of all students
###C. Calculate and print average marks of all students

In [5]:
students = dict()
total = 0
n = int(input("How many students are there :"))
for i in range(n):
  sname = input("Enter name of the student: ")
  marks = []

  for j in range(5):
    mark = int(input("Enter marks :")) 
    marks.append(mark)
    total += mark
  students[sname] = marks

print ("created dictionary of student is",students)

print ("Total Score:",total)
percentage = (total/2500)*100
print("Percentage:", percentage, "%")

How many students are there :2
Enter name of the student: hammad
Enter marks :25
Enter marks :50
Enter marks :45
Enter marks :65
Enter marks :99
Enter name of the student: hamza
Enter marks :77
Enter marks :56
Enter marks :51
Enter marks :72
Enter marks :21
created dictionary of student is {'hammad': [25, 50, 45, 65, 99], 'hamza': [77, 56, 51, 72, 21]}
Total Score: 561
Percentage: 22.439999999999998 %

In [ ]:
6

53

In [5]:
print("Enter Marks Obtained in 5 Subjects: ")
mOne = int(input())
mTwo = int(input())
mThree = int(input())
mFour = int(input())
mFive = int(input())

sum = mOne+mTwo+mThree+mFour+mFive
avg = sum/5
perc = (sum/500)*100

print(end="Average Mark = ")
print(avg)
print(end="Percentage Mark = ")
print(perc)

Enter Marks Obtained in 5 Subjects:
55
65
54
95
65
Average Mark = 66.8
Percentage Mark = 66.8