<a href="https://colab.research.google.com/github/WaleedBahtti/Assignments/blob/main/ASSIGNMENT_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Task 1:
###Create a dictionary of city and their respective zip codes. Then ask zip code from user and provide the name of city. (Hint: use input)

In [ ]:
a = {}
n = int(input("Total number of City: "))

for i in range(n):
  Z=input("Enter the ZipCode : ")
  C=input("Enter the City name: ")
 
  a.update({Z:C})

x = input("Enter Zip code: ")
print(a)
print(a[x])

Total number of City: 5
Enter the ZipCode : 68100
Enter the City name: SANGHAR
Enter the ZipCode : 68330
Enter the City name: KHIPRO
Enter the ZipCode : 66020
Enter the City name: KHAIR PUR
Enter the ZipCode : 68030
Enter the City name: SHAHDADPUR
Enter the ZipCode : 70010
Enter the City name: TANDO ALLAHYAR
Enter Zip code: 68330
{'68100': 'SANGHAR', '68330': 'KHIPRO\t', '66020': 'KHAIR PUR\t', '68030': 'SHAHDADPUR', '70010': 'TANDO ALLAHYAR\t'}
KHIPRO

###Task 2: (Dictionary): Create a marksheet of your class, having five studentâ€™s name and their marks, and apply following series of action: 
###A. Ask five names and their respective marks in first year 
###B. Calculate and print total marks of all students
###C. Calculate and print average marks of all students

In [11]:
students = dict()

n = int(input("How many students are there :"))
for i in range(n):
  sname = input("Enter name of the student: ")
  marks = []
  for j in range(5):

    mark = int(input("Enter marks :")) 
    marks.append(mark)
  students[sname] = marks
print ("created dictionary of student is",students)

total = 0

for i in students.values():
    total += i

print(total)

How many students are there :1
Enter name of the student: waleed
Enter marks :85
Enter marks :95
Enter marks :85
Enter marks :75
Enter marks :65
created dictionary of student is {'waleed': [85, 95, 85, 75, 65]}

TypeError: ignored

In [10]:
d1 = {'a' : 15,'b' : 18,'c' : 20}

total = 0

for i in d1.values():
    total += i

print(total)





total = mark
print ("Total Score:",total)
percentage = (total/2500)*100
print("Percentage:", percentage, "%")

53